:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}

html{
    box-sizing: border-box; /*asi el padding no afecta el ancho de nuestros elementos*/
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2; /*en los blogs se suele usar un interlineado mas grande, ya que es una forma mas facil de leer el contenido*/
}

/******* GLOBALES *******/ /*usaremos REM en este proyecto */
/*aqui se coloca lo que se utiliza mas de 1 vez, contenido mas "global" */
.contenedor{
    /*max-width: 120rem; /*maximo 1200px mientras haya espacio disponible, si es menos usa 90%*/
    /*width: 90%; /*hace que el texto nunca toque los bordes de la pagina */
    width: min(90%, 120rem); /*hace lo mismo que las dos lineas de arriba */
    margin: 0 auto; /*para centrar contenido en pantalla ya que no usamos un flex*/
}

a {
    text-decoration: none; /*le quito el subrayado a los links*/
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/******* UTILIDADES *******/
.no-margin {/*eliminar margin a elementos segun requiramos*/
    margin: 0;/*se usa por lo general en h's ya que estos agregan margin*/
}
.no-padding { /*idem pero con padding ya que hay elementos que lo agregan de forma auto*/
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/******* HEADER *******/
.webp .header{/*si soporta webp, usamos webp*/
    background-image: url(../img/banner.webp); 
}
.no-webp .head{/*si no, jpg*/
    background-image: url(../img/banner.jpg);
}
/*todo esto es gracias a mordernizr.*/

.header {
    height: 60rem; /*defino el alto asi aparece la imagen*/
    background-size: cover; /*que la img tome todo el espacio disponible*/
    background-repeat: no-repeat; /*que no se repita la imagen en si misma*/
    background-position: center center; /* CENTER X - CENTER Y */
    /*centra siempre la imagen de fondo para 
    diferentes tamaños (fluye hacia el centro)*/
}
.header__texto--titulo {
    width: 99%; /*en celulares el titulo se veia raro y chocaba con los bordes, lo corregi yo*/
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem; /*separacion de arriba*/
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barra {
    padding-top: 4rem; /*separa un poco la barra del top de la pagina */
}
@media (min-width: 768px) {
    .barra { /*usamos FLEXBOX porqque estamos acomodando elements en el contenedor*/
        display: flex;
        justify-content: space-between;
        align-items: center; /*alinea vertical*/
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        justify-content: space-between;
        flex-basis: calc(33.3% - 1rem);/*hacer espacio en objetos flexbox*/
    }
}
.navegacion__enlace {
    display: block; /*elementos uno debjo del otro (solo celus)*/
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

/******* CONTENIDO PRINCIPAL *******/
@media (min-width: 768px) {
    .contenido-principal {
        display: grid; 
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris); /*border solo en la direccion inferior*/
    margin-bottom: 2rem; /*separa entradas asi vemos el border*/
}
.entrada:last-of-type{ /*que le quite el border a la ultima entrada ya que no es nesario*/
    border: none;
    margin-bottom: 0;
}
.boton {
    display: block; /*asi en celulares toma todo el espacio disponible*/
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem; /*asi no se tapa el border*/
    border: none;
}
@media (min-width: 768px) {
    .boton{
        display: inline-block; /*lo contrario a block, que no ocupe todo su espacio*/
        /*no le podes dar margin o width a los inline simples, a inlgineblock si*/

    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}

/******* CURSOS *******/
.cursos {
    list-style: none; /*quita los puntitos a la lista*/
}
.widget-curso { /*similar al .entrada */
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border-bottom: none; /*quito linea y margin al ultimo curso*/
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

/******* FOOTER *******/
.footer {
    background-color: var(--negro); 
    padding-bottom: 3rem;/*forma al footer, botom porque antes estaba con top*/
    margin-top: 4rem;
}

/******* NOSOTROS *******/
@media (min-width: 768px) {
    /*flex-basis equivale al WIDTH EN FLEXBOX*/
    .sobre-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

/******* CURSOS *******/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
.curso:last-of-type {
    border: none;
}
@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info {
    font-weight: normal;
}
.curso__label,
.curso__info {
    font-size: 2rem;
}

/******* CONTACTO *******/
.contacto__background{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;  
    background-repeat: no-repeat;  
}

/******* FORMULARIO *******/
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto; /*50px hacia arriba*/
    width: 95%;
    padding: 5rem; /*en todas las direcc*/
}
.campo{
    display: flex;
    margin-bottom: 2rem; /*separacion entre campos*/
}
.campo__label {
    flex: 0 0 9rem;/*deja el tamanio fijo en 9 rem*/
    text-align: right;
    padding-right: 2rem; /*separacion entre texto y campo*/
}
.campo__field {
    flex: 1; /*extiene los campos todo el esapcio disponible gracias a flex 0 y flex 1*/
    border: 1px solid var(--gris);  
}
.campo__field--textarea {
    height: 20rem;
}